<table bgcolor="yellow" width="100%" >
    <tr>
        <td>มีอาการกลั้นปัสสาวะไม่อยู่มานานแค่ไหน</td>
    </tr>
    <tr>
        <td><input type="radio">0) ไม่เกิน 6 เดือน</td>
    </tr>
    <tr>
        <td><input type="radio">1) 6 เดือน แต่ไม่เกิน 1 ปี</td>
    </tr>
    <tr>
        <td><input type="radio">2) 1-5 ปี</td>
    </tr>
    <tr>
        <td><input type="radio">3) มากกว่า 5 ปี</td>
    </tr>
    <table width="100%" height="50px">
        <tr>
            <td colspan="2">มีอาการเหล่านี้หรือไม่</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะเล็ดพร้อมกับการไอ จาม หัวเราะ หรือออกแรง</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะเล็ดออกมาจำนวนน้อย (เป็นหยด พุ่งออกมา)</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะเล็ดโดยควบคุมไม่ได้</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>เมื่อมีอาการปวดปัสสาวะต้องรีบเร่งเข้าส้วมทันที</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะราดก่อนถึงห้องน้ำ</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะราดแบบควบคุมไม่ได้</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ก่อนถ่ายปัสสาวะต้องรอนานกว่าจะออก</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะไม่พุ่ง ปัสสาวะหลายขยัก หลายที หรือต้องเบ่งหลายครั้งกว่าจะเสร็จ</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะเสร็จแล้วมีหยดออกมาอีก</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะเสร็จช้ากว่าปกติหรือใช้เวลานาน</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะไม่สุดรู้สึกค้างในกระเพาะปัสสาวะ</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ปัสสาวะบ่อยแต่จำนวนน้อยหรือปัสสาวะเป็นหยดๆ เวลาเปลี่ยนท่าทางหรือเปลี่ยนอิริยาบถ</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>มีข้อจำกัดของการเคลื่อนไหว</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ไม่มีห้องส้วมหรือหาห้องส้วมไม่ได้ขณะปวดปัสสาวะ</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ถูกจำกัดให้อยู่กับที่</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>ได้รับยาที่มีผลต่อการควบคุมการขับถ่ายปัสสาวะ เช่น ยากล่อมประสาท ยานอนหลับ ยากดประสาทส่วนกลาง</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>มีภาวะซึมเศร้า สับสน ความจำเสื่อม</td>
        </tr>
        <tr>
            <td><input id="UIFR" class="switchBox no" value="0.ไม่มี" size="4"></td>
            <td>มีความเจ็บปวดเกิดแก่ร่างกาย ส่วนใดส่วนหนึ่ง จนไม่อยากเคลื่อนไหว</td>
        </tr>
        <table>
            <tr>
                <td>ปริมาณปัสสาวะที่กลั้นไม่อยู่</td>
            </tr>
            <tr>
                <td><input type="radio">1) เล็กน้อย (ไม่กี่หยด / ไม่เกินครึ่งช้อนโต๊ะ)</td>
            </tr>
            <tr>
                <td><input type="radio">2) ปานกลาง (ชุ่มกางเกงใน / ไม่เกิน 2 ช้อนโต๊ะ)</td>
            </tr>
            <tr>
                <td><input type="radio">3) มาก (เปียกทะลุถึงผ้านุ่งชั้นนอก / มากกว่า 2 ช้อนโต๊ะ)</td>
            </tr>
            
            <table>
                <tr>
                    <td>ความถี่ของการกลั้นปัสสาวะไม่อยู่</td>
                </tr>
                <tr>
                    <td><input type="radio">1) เดือนละครั้ง หรือน้อยกว่า</td>
                </tr>
                <tr>
                    <td><input type="radio">2) เดือนละครั้งขึ้นไป แต่ไม่เกือบทุกวัน</td>
                </tr>
                <tr>
                    <td><input type="radio">3) เกือบทุกวัน</td>
                </tr>
            </table>
        </table>
    </table>
</table>